/* 整體 */
section{
    width: 70%;
    margin: 80px auto 60px auto;
    padding: 10px 20px 0px;
    /* 邊框樣式 */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='38' ry='38' stroke='black' stroke-width='6' stroke-dasharray='6%2c 14' stroke-dashoffset='43' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 38px;
}
main{
    margin: 0px;
    padding: 60px 0px 0px 0px;
}
.all{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 38px;
}
.profilePic,
.profile,
.all form {
    flex: 1;
    box-sizing: border-box;
}
/* 大外框 */
.memContent{
    order:1;
    display: none; 
    width:100%;  
    line-height: 1.6; 
    padding: 10px; 
}
/* 選單 */
.noIn{
    display:none;
}
.all label{
    margin-top: 20px;
    margin-left: 30px; 
    padding: 0px 10px; 
    cursor: pointer;
    color: white;
    opacity: 0.5;
    line-height: 10px;
}
.bear{
    width: 75px;
    height: 75px;
}
.all input:checked + label, .all label:hover{
    opacity: 1; 
    font-weight:bold;
}
.all input:checked + label + .memContent{
   display: initial;
}
/*會員資料*/
.profilePic canvas{
    overflow: hidden;
    /* width: 600px;
    height: 350px; */
    width: 150%;
    height: auto;
    padding-left: 60px ;
    padding-top: 15px;
}
.profile{
    margin: 15px 0;
    line-height: 40px;
}
.profile p{
    font-size: 18px;
    font-weight: bold;
}
.words span{
    font-size: 18px;
    font-weight: lighter;
}
.profilePic_2{
    display: none;
}
/* 個資表單 */
.editForm{
    margin-top: 15px;
    line-height: 40px;
    display: none;
}
.editForm p{
    font-size: 18px;
    font-weight: bold;
}
.editIn{
    box-sizing: border-box;
}
.editForm button, .profile button{
    background-color: white; /* Green */
    border: 2px solid #555555;
    color: black;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
}
.editForm button:hover, .profile button:hover{
    background-color: #555555;
    color: white;
}
/* 購買紀錄 */
.buyBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.buytable{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}
.buytable th{
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-align: center;
}
.buytable td{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0px;
    text-align: center;
}
/* 評論區塊 */
.ccBox{
    display: flex;
    justify-content: space-around;
}
.box{
    padding: 2px 20px;
    margin: 5px 0;
    border-bottom: 3px dotted darkblue;
} 
.boxlast{
    padding: 2px 20px;
    margin: 5px 0;
}
.comment{
    display: flex;
    justify-content: space-between;
}
.words{
    margin-right: 50px;
}
.one{
    font-size: 18px;
    font-weight: bold;
}
.two{
    font-size: 14px;
}
.three{
    margin-top: 20px;
    font-size: 12px;
}
.star{
    margin-left: 50px;
}
.four{
    font-size: 24px;
    text-align: center;
}
.four:hover{
    color: #FFE29F;
    cursor: none;
}
.point{
    font-weight: bold;
    text-align: center;
}
/* 問題留言 */
.contactBox{
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    overflow: auto;
}
.mes{
    background-color: #FFB5B5	;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 150px;
}
.contactmes{
    color: aliceblue;
    text-decoration: none;
}
.mesForm{
    padding: 10px 0;
}
.mesarea{
    width: 300px;
    height: 300px;
    padding: 20px;
}
.mesIn{
    border: 3px solid sandybrown;
    background-color: white;
    color: #000000;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.mesIn:hover{
    background-color: sandybrown;
    color: white;
}

@media (max-width:800px) {
    .profilePic{
        display: none;
    }
    .profilePic_2{
        display: flex;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 0 auto;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }
    
    .all{
        justify-content: center; 
        align-items: center; 
    }
    .all label{
        margin: 0 10px; 
        padding: 0px; 
        display: flex;
    }
    .bear{
        width: 55px;
        height: 55px;
    }
    .change1{
        display: none;
    }
    tr{
        border: 1px solid #ddd;
    }
    .buytable td {
        padding: 10px;
        text-align: left; 
    }
    .buytable td {
        display: flex;
    }
    .buytable td.quantity, .buytable td.price {
        flex-direction: row;
        align-items: center;
        padding: 0 10px; 
    }
    
    .buytable td.quantity {
        justify-content: flex-start;
    }
    
    .buytable td.price {
        justify-content: flex-end;
    } 
    /* 評論區 */
    .ccBox{
        display: block;
        justify-content: center; 
        align-items: center; 
    }
    .box{
        padding: 0px;
        margin: 0px;
    } 
    .boxlast{
        padding: 0px;
        margin: 0px;
        border-bottom: 3px dotted darkblue;
    }
    .four{
        font-size: 15px;
        padding-top: 5px;
    }
    .words{
        margin: 0px;
    }
    .profile p {
        font-size: 16px;
        font-weight: bold;
    }
    .words span {
        font-size: 14px;
        font-weight: lighter;
    }
    .star{
        margin: 0px;
    }
    .point{
        display: none;
    }
    /* 問題留言 */
    .contactBox{
        padding: 0px;
        margin: 0px;
    }
    .mes{
        margin: 20px 0px 20px auto;
        width: 50%;
        height: auto;
        font-size: 11px;
        position: relative; /* 相對定位 控制right*/
        right: 0px; /* 右對齊 */
    }
    .mesarea{
        width: 80%;
        height: 200px;
    }
    .mesWord{
        font-size: 15px;
    }
}


