/* 整體 */
section{
    width: 70%;
    margin: 80px auto 60px auto;
    padding: 10px 20px 0px;
    /* 邊框樣式 */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='38' ry='38' stroke='black' stroke-width='6' stroke-dasharray='6%2c 14' stroke-dashoffset='43' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 38px;
}
main{
    margin: 0px;
    padding: 60px 0px 0px 0px;
}
.all{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 38px;
}
.profile,.all form {
    flex: 1;
    box-sizing: border-box;
}
/* 大外框 */
.merContent{
    order:1;
    display: none;
    width:100%;
    line-height: 1.6;
    padding: 10px;
}
/* 選單 */
.noIn{
    display:none;
}
.all label{
    margin-top: 20px;
    margin-left: 50px; 
    padding: 0px 10px; 
    cursor: pointer;
    color: white;
    background-color: black;
    opacity: 0.5;
    line-height: 50px;
    border-radius: 10px;
}
.all input:checked + label, .all label:hover{
    opacity: 1; 
    font-weight:bold;
}
.all input:checked + label + .merContent{
   display: initial;
}
/* 表單 */
th,td{
    width: 75px;
}
/* 商品成列 */
h2{ 
    background-color: black; 
    color: white;
    padding: 5px 25px;
    text-align: center;
}
.goods1,.goods2,.goods3{
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.add{
    border-radius: 50%;
    border: 2px solid transparent;
    background-color:#000000;
    color:#fff;
    cursor:pointer;
    width:40px;
    height:40px;
}
.goods_img{
    width: 100px;
    height: 100px;
    box-shadow:3px 3px 3px rgb(61, 61, 61,0.3);
    padding-bottom:10px ;
}
.goods_and_img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.goods_history{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
.goods_history th{
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-align: center;
}
.goods_history td{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0px;
    text-align: center;
}
.button{
    border: 2px solid transparent;
    background-color:#000000;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    width:60px;
    height:30px;
} 
.button:hover{
color:#000000;
background-color:#fff;
border:2px #000000 solid;
}
/* 訂單 */
.order{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.order_history{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}
.order_history th{
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-align: center;
}
.order_history td{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0px;
    text-align: center;
}

@media (max-width:800px) {
    /* 表單 */
    th,td{
        width: 85%;
    }
    /* 訂單 & 商品成列*/
    h2{ 
        font-size: 15px;
    }
    .change1{
        display: none;
    }
    .order_history tr{
        border: 1px solid #ddd;
    }
    .goods_history td {
        padding: 10px;
        text-align: center;
        display: block; 
    }
    .order_history td {
        padding: 10px;
        text-align: left;
        display: flex; 
    }
    .order_history td.quantity, .order_history td.price,
    .goods_history td.quantity, .goods_history td.price{
        flex-direction: row;
        align-items: center;
        padding: 0 10px; 
    }
    .order_history td.quantity, 
    .goods_history td.quantity, 
    .goods_history td.price {
        justify-content: flex-start;
    }
    .order_history td.price {
        justify-content: flex-end;
    } 
    .goods_history td.quantity, 
    .goods_history td.price {
        text-align: left;
        padding-left: 40px;
    }
}